/* responsive mobile -more-than: Mobile: 610px */
@media only screen and (max-width:610px){
    body{
        background: url('../images/fortnite-wallpaper-mobile.jpg') no-repeat;
        background-size: cover;
    }
        .contain-logo{
            ul{
               li{
                display: none;
               }
            }
        }
     nav{ 
        flex-direction: column;
        
        gap: 1rem;
        
        ul{
            gap: 0;
        }
        img{
            margin: auto;
            align-items: flex-start;

        }    
        .buttons{
            button{
                margin: auto;
                background-color: rgba(#ff76fc,0);
                border: 2px solid #ff76fc;
                &:hover{
                    background-color: rgba(#ff76fc,.6); 
                }
            }
            .btn-open{
                display: block;
                background-color: rgba(#ff76fc,.6);
                &:hover{
                    background-color: rgba(#ff76fc,1);
                } 
            }
            .btn-close{
                border: none;
                background-color: #fff;
                border-radius: 50px;

            }
            .offcanvas{
                display: block;
                background-color: rgba(#fff,.2);
                backdrop-filter: blur(10px);
                border: none;

                h5{
                    position: absolute;
                    right: 35%;
                    text-align: center;
                    color:#ff76fc;
                    font-size: 2em;
                    font-family: 'Poppins', sans-serif;
                    user-select: none;
                }
            }
            .offcanvas-body{
                ul{
                    flex-direction: column;
                    text-align: center;
                    a{
                            &:hover{
                            color: #ff76fc;

                        }
                    }
                }
            }
        }
     }
main{
    .contain-sections{
        margin: auto;
        h1{
            font-size: 5em;
            text-align: center;
        }
        article{
            margin-top: 5rem;
            align-items: center;
            h2{
               font-size: 2.6em;
            }
            p{
                font-size: .9em;
            }
            .buttons{
                .button2{
                    background-color: rgba(#fff, .3);
                    border: none;
                    backdrop-filter: blur(5px);
                }
            }
        }
    }
}
footer{
    section{
        text-align: center;
        margin: 0;
        background-color: rgba(#000,.5);
        margin-top: 5rem;
        flex-direction: column;
        padding: 40px;
        border-radius: 0;
        .image-mobile{
            display: none;
        }
        .all-contain-details{
            flex-direction: column;
        }
        .section1{
            gap: 0;
        }
    }
}
}
